/* Navbar.css */

.user-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Make it stick/fixed */
    top: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: white;
    width: 100%; /* Full width */
    transition: top 0.3s;
    z-index: 1000; /* Ensure it is above other content */
}

.user-navbar-brand {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
}

.user-navbar-links {
    list-style: none;
    display: flex;
}

.user-navbar-links li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.user-navbar-links a {
    color: white;
    text-decoration: none;
}

.user-navbar-links a:hover {
    text-decoration: underline;
}
