/* UserQueryTable.css */

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 5px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}

button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:last-child {
    background-color: #f44336;
}

button:last-child:hover {
    background-color: #d32f2f;
}
